#first
{
    display: table-row;
}
#left
{
    float: left;
    display: table-cell;
    background-color: #05386B;
    width: 290px;
    height: 400px;
    border:2px solid #97AABD;
    color: #15DB95;
}
#middle
{
    display: table-cell;
    float: left;
    width: 760px;
    height: 400px;
    background-color: #05386B;
    border-top:2px solid #97AABD;
    border-bottom:2px solid #97AABD;
}
#right
{
    display: table-cell;
    float: right;
    background-color: #05386b;
    width: 290px;
    height: 400px;
    border:2px solid #97AABD;
    color: #f76c6c;
}
.notifications
{
    text-decoration: none;
}
.notifications:link
{
    color: #f76c6c;
}
.notifications:visited
{
    color: #f76c6c;
}
.notifications:hover
{
    color: #15DB95;
}
.notifications:active
{
    color: #15DB95;
}
.notificationslist
{
    border-top: 1px solid #15DB95;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nameslist
{
    border-top: 1px solid #15DB95;
    padding-top: 10px;
    padding-bottom: 10px;
}
