#profile-photo
{
	margin: 35px;
	height: 70px;
	width: 70px;
	float: left;
	border: 2px solid #05386B;
	border-radius: 5px;
}
#homepage
{
	font-size: 35px;
	color: #05386B;
	padding: 400px;
	text-shadow: 2px 2px 40px #05386B;	
}
#dropdown
{
	background-color: #f76c6c;
}
#h
{
	margin-top: 0px;
	height: 100px;
}
.list1{
	width: 250px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
*{
	margin: 0px;
}
.dropdown
{
	margin: 0 auto;
}
nav
{
	margin-top: 20px;;
	height: 55px;
	background: linear-gradient(lavenderblush,lavender);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	margin-left: 0px;
	margin-right: 0px;
}
nav ul{
	padding: 0;
	margin: 0;
	margin-left: 0px;
}
nav ul li{
	background: #2c3e50;
	position: relative;
	list-style: none;
	display: inline-block;
	text-align: center;
	/*padding-left: 87px;
	padding-right: 87px;*/
}
nav ul li a{
	display: block;
	padding: 0 10px;
	color: white;
	text-decoration: none;
	line-height: 50px;
	font-size: 15px;
}
nav ul li a:hover{
	background: rosybrown;
}
nav ul ul{
	position: absolute;
	top: 50px;
	display: none;
}
nav ul li:hover > ul{
	display: block;
}
nav ul ul li {
	width: 110px;
	float: none;
	display: list-item;
	position: relative;
}
nav ul ul ul li{
	position: relative;
	top: -50px;
	left: 100px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1; 
  top: 0; 
  right: 0;
  background-color: #111; 
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}